.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding: 2px;
   
}

.container__imagem {
    display: flex;
    padding: 13px;
 
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}


.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* o background  degrade azul passa a ser aplicado somente em texto */
    text-transform: uppercase;
}

.container__botao {
    display: none; /*Ocultar a caixinha de cheackbox */
}

.container__titulo {
    display: none;
}

@media screen and (min-width: 1024px) { /* Pelo fato de ter começado pelo mobile first utilizamos o min-width, caso comece pelo desktop utilize o max-width*/
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        padding-left: 10px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    

}