.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding: 2px;
   
}

.container__imagem {
    display: flex;
    padding: 13px;
 
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}


.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* o background  degrade azul passa a ser aplicado somente em texto */
    text-transform: uppercase;
}

.container__botao, .container__titulo, .opcoes, .container__texto, .opcoes__botao:checked {
    display: none; /*Utilizar o display none para ocultar tudo aquilo que foi adicionado na resolução 1024px */
}


@media screen and (min-width: 1024px) { /* Pelo fato de ter começado pelo mobile first utilizamos o min-width, caso comece pelo desktop utilize o max-width*/
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        padding-left: 10px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes, .opcoes__link{
        color: var(--azul);
        display: flex;
        font-family: "Poppins";
        font-weight: 400;
    
    }

    .opcoes__item {
        display: flex;
        align-items: center;
        margin: 0 1em;
        text-transform: uppercase;
        
    }

    .opcoes__link {
        text-decoration: none;
        
    }

    .cabecalho__menu-hamburguer, .container__imagem-transparent {
        display: none; /* Ocultando o menu hamburguer, categoria de favoritos, que era da versão mobile */
    }

    .logo-alurabooks {
        margin-right: 11px;
        margin-left: 80px;
        margin-bottom: 35px;
        margin-top: 20px;
    
    }

    .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;

    }

    .opcoes__botao:checked {
        display: none;
    }

    .opcoes__botao { 
        display: none;
    }

} 


@media screen and (min-width: 1728px) { /* Pelo fato de ter começado pelo mobile first utilizamos o min-width, caso comece pelo desktop utilize o max-width*/

    .container__link {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding-right: 80px;
      
    }

    .cabecalho {
        padding: 0 2em;
    }

    .container__imagem {
        width: 2.5em;
        height: 2.5em;
        padding: 1px;
        
        
    }

    .container__texto {
        font-weight: 400;
        font-size: 20px;
        color: var(--preto);
    }

    .opcoes {
        margin-right: auto;
    }

    .opcoes__link {
        font-weight: 400;
        color: var(--preto);
    }

    .container__texto {
        display: block;
    }

    .opcoes__botao {  /* Ocultando o menu hamburguer, categoria de favoritos, que era da versão mobile */
        display: none;
    }
   
}


