.topicos {
    background: var(--azul-degrade);
    border-top: 5px solid var(--branco);
    text-align: center;
}

.topicos__titulo {
    padding: 1em 0 ;
    color: var(--branco);
    font-weight: 300;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topicos__link{
    font-size: 14px;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    padding: 1em;
    background-color: var(--laranja);
    
}

.topicos__item {
    margin: 2em 0.5em;
    
}

